<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notice Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
      <h1 class="text-center">Notice Board</h1>
      <h3>{{ uniname[0] }}</h3>
    {#table starts#}
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>notices</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i, item in notices %}
                    <tr>

                        <td>{{ item }}</td>
                        <td>{{ i }}</td>

                    </tr>

                    {% endfor %}


                </tbody>
              </table>
    {#table ends#}
{##}


{##}
</div>
</body>
</html>
